<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:replace="layout/base :: contenido">
<h2>Libros Disponibles</h2>
<a th:href="@{/libro/form}" class="btn btn-success mb-3">Agregar Nuevo Libro</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="libro : ${libros}">
            <td th:text="${libro.titulo}">Título</td>
            <td th:text="${libro.autor}">Autor</td>
            <td th:text="${libro.categoria.nombre}">Categoría</td>
            <td>
                <a th:href="@{/libro/ver/{id}(id=${libro.id})}" class="btn btn-primary btn-sm">Ver</a>
                <a th:href="@{/libro/form/{id}(id=${libro.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/libro/eliminar/{id}(id=${libro.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
</html>
